body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

.buttonCont {
        display: flex;
        justify-content: center;
        align-items: center;
}

.formCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addButton {
    width: 25%;
    padding: 5px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 15px;
    text-align: center;
}